$gbasic-path: unquote('../node_modules/@vope/scss/images/');

@import '../node_modules/@vope/scss/sass/test.scss';

.pseudo-element{
  padding: .5em 0; line-height: 1.4; background-color: #cdf;

  > input{
    width: 100%; padding: .3em .2em; border: 1px solid; display: block; box-sizing: border-box; color: #f00;

    @include mplaceholder(#00f);
  }

  > span{
    display: block;

    &::first-letter{
      font-size: 1.5em;
    }
  
    &::first-line{
      font-size: 2em;
    }
  }
}

.s-opacity-menu1{
  &::after{
    content: '跨域引入的样式表'; color: #fff;
  }
}

@font-face{
  font-family: local;
  src:
    local(Helvetica),
    local(Webdings);
  unicode-range: U+0-41;
}

@font-face{
  font-family: local;
  src: local('Source Han Sans CN');
  font-weight: 600;
}

@font-face{
  font-family: ui-dollar;
  src:
    url('1'),
    url(/static/dollar.woff);
  unicode-range: U+e7a1;
}

@font-face{
  font-family: ui-record;
  src: 
    url('iconfont.svg') format('svg'),
    url(../static/record.woff) format('woff');
}

@font-face{
  font-family: ui-doc;
  src:
    url(../static/batang.ttc),
    url(https://at.alicdn.com/t/font_137970_p1tpzmomxp9cnmi.ttf?t=1508742924398);
}

.test-fontface{
  font-size: 2.4vw; line-height: 1.2; font-family: 'Source Han Sans CN'; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; text-align: center;

  &::before, &::after{
    font-family: local, ui-dollar, ui-record, element-ui, ui-doc, Wingdings; flex-basis: 100%;
  }

  &::before{
    font-weight: 600; content: '思源雅黑';
  }

  &::after{
    content: '\41\59\a\e7a1\e637\e7ca\e603';
  }
}

.test-video{
  > video{
    position: relative;

    &::after{
      width: 10%; height: 10%; position: absolute; top: 0; left: 0; content: ''; z-index: 9; background-color: currentColor;
    }
  }
}

#Mask{
  > img{
    -webkit-mask-image: radial-gradient(transparent, #f00);
    mask-image: -moz-element(#Var);
  }
}

.canvas-list{
  position: relative; display: flex; justify-content: center; align-items: center;

  > canvas{
    max-width: 100%; max-height: 100%; position: relative; -webkit-mask: bgurl('img4.jpeg');

    &::after{
      width: 10%; height: 10%; position: absolute; top: 0; left: 0; content: ''; z-index: 9; background-color: currentColor;
    }

    &:first-child{
      position: relative; z-index: 2; filter: opacity(.6); background-color: #ccc;
    }

    &:last-child{
      @include mcenter();
      filter: blur(3px); color: #f00;
    }
  }
}

#Inputs{
  columns: auto 5; text-align: center;

  > div{
    margin: .5em .1em; display: inline-block;
  }

  input{
    max-width: 100%;
  }
}

.api-directory{
  flex: 1;

  &::after{
    height: 100%; margin-top: 0;
  }
}

.scroll-translate{
  width: 92%; margin-left: 4%;
}

.table-transition{
  width: 90%;
}

#Snapshot{
  @include mratio(60px);
  position: fixed; bottom: 0; right: 0; border-radius: 50%; display: flex; box-shadow: 0 0 3px; transform: translate(-50%, -50%); justify-content: center; align-items: center; cursor: pointer; color: #33691e; background-color: currentColor;

  &::after{
    font: 30px/1 element-ui; content: '\e79b'; color: #fff;
  }
}

#Dialog{
  @include mratio(80%);
  @include mcenter(po, fixed);
  display: flex; justify-content: center;

  > i{
    @include mratio(1em);
    position: absolute; top: 0; right: 0; border-radius: 50%; font: 30px/1 element-ui; transform: translate(100%, -100%); cursor: pointer; background-color: #fff;

    &::after{
      content: '\e78d';
    }

    &:hover{
      color: #0089e7;
    }
  }
}

.snapshot-mask{
  > :not(#Dialog){
    filter: blur(5px); pointer-events: none;
  }
}